<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Google, please don't mess with my lovingly handcrafted HTML -->
    <meta name="googlebot" content="notranslate" />
    <meta name="generator" content={"Phoenix #{Application.spec(:phoenix, :vsn)}"} />

    <.live_title default="Cipher">
      {assigns[:page_title]}
    </.live_title>

    <meta
      name="description"
      content="Securely exchange sensitive information."
    />

    <link rel="canonical" href="https://cipher.dupunkto.org" />
    <link rel="stylesheet" type="text/css" href={~p"/assets/app.css"} phx-track-static />
    <script defer type="text/javascript" src={~p"/assets/app.js"} phx-track-static></script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
